.project>img{
    width: 350px;
    height: 229px;
    border-radius: 20px;
    display: flex;
}
.project{
    margin: 50px;
    width: 350px;
    display: flex;
    height: 229px;
    transition: transfrom 200ms ease-in;
    border-radius: 20px;

}
.project:hover{
    color: white;
    background-color: #f64c08;
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.project__content{
    padding: 10px;
    text-align: center;
}
.project__content>h4{
    padding-bottom: 5px;
    align-items: center;
}
.project__content>p{
    font-size: 20px;
    align-items: center;

}