@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.projectContainer {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin: 100px; /* Adjusted margin */
    align-items: center;
    font-family: 'Montserrat', sans-serif; /* Fallback font */
}

.projectContainer > h1 {
    padding-bottom: 15px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.projectContainer > p {
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #f64c08;
}
@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}
.typing__animation {
    overflow: hidden; /* Ensure text doesn't overflow */
    white-space: nowrap; /* Prevent text wrapping */
    animation: typing 4s steps(40, end); /* Adjust duration as needed */
}

.projectContainer__projects {
    display: flex;
    width: 60vw;
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
    background-size: cover;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .projectContainer {
        margin: 50px; /* Adjust margin for smaller screens */
    }

    .projectContainer__projects {
        width: 80vw; /* Adjust width for smaller screens */
    }
}
